/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgreen;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

#counter-card {
  padding: 20px;
  border-radius: 20px;

  background-color: whitesmoke;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;

  box-shadow: 5px 5px 10px 1px rgb(52, 89, 53);
}

#counter-text {
  font-size: 48px;
  font-weight: bolder;

  /* text-shadow: 1px 1px 3px; */
}

.btn-container {
  display: flex;
  gap: 10px;
}

.btn {
  padding: 10px 20px;

  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  outline: 1px double blueviolet;
  background-color: lightblue;

  box-shadow: 0px 0px 3px 0 blueviolet;

  cursor: pointer;

  transition: all 0.15s ease-out;
}

.btn:hover {
  box-shadow: 2px 2px 3px 0 rgb(100, 100, 224);

  transform: translateY(-2px);
}

.btn:active {
  box-shadow: 0px 0px 3px 0 blueviolet;

  transform: translateY(0px);
}


#clr-btn {
  position: fixed;
  bottom: 2px;
  right: 2px;
}